@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "PartialSans";
  src: url("./fonts/PartialSansKR-Regular.otf");
}

@font-face {
  font-family: "Tenada";
  src: url("./fonts/Tenada.ttf");
}

.font-partial {
  font-family: "PartialSans";
}

.font-tenada {
  font-family: "Tenada";
}
